<html>
<head>


</head>

<body>


<div style='width: 1000px;'>
  <div id="map" style='width: 1000px; height: 500px;'></div>
</div>

<script type="text/javascript">

    handler = Gmaps.build('Google');
    handler.buildMap({ 
      provider: {
        mapTypeId: google.maps.MapTypeId.SATELLITE
      }, 
      internal: { 
       id: 'map'   
       //id: 'basic_map'   
       //id: 'custom_style'   
      },
      "picture": {
        //url: "http://maps.google.co.jp/mapfiles/ms/icons/red-pushpin.png",
        url: 'https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png',
        width:  36,
        height: 36,
      }
    }, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });

    //alert(<%=raw @hash.to_json %>);

</script>





</body>


</html>
