<html>
<head>
</head>
<body>

<ul>
  
    <li><%= link_to "アカウントを作る", "/account/create" %></li>
    <br>
    <li><%= link_to "ログイン", "/account/login_form" %></li>
    <li><%= link_to "Googleでログイン", "/auth/google" %></li>
    <li><%= link_to "Facebookでログイン", "/auth/facebook" %></li>
</ul>  


</body>

</html>
